.favorite {
  padding: rem(20) 0 rem(30);
  &__container {
  }

  &__body {
  }

  &__title {
    color: #212121;
    font-size: 16px;
    font-family: Gravity;
    font-weight: 700;
    margin-bottom: rem(12);
  }

  &__items {
  }

  &__item {
  }
}
.item-favorite {
  padding: rem(16) 0 rem(13);
  border-bottom: 1px solid #908d8d;
  &__body {
    display: flex;
    @include adaptiveValue("column-gap", 20, 12);

    margin-bottom: rem(10);
  }

  &__image-ibg {
    overflow: hidden;
    border-radius: rem(20);
    flex: 0 0 rem(140);
    height: rem(140);
  }

  &__content {
  }

  &__labels {
  }

  &__label {
  }

  &__mark {
    border-radius: 12px;
    border: 1px solid #212121;
    font-size: 10px;
    font-family: Gravity;
    font-weight: 700;
    padding: rem(3) rem(8);
    margin-bottom: rem(6);
    width: max-content;
  }

  &__name {
    color: #212121;
    @include adaptiveValue("font-size", 16, 10);
    font-family: Gravity;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: rem(5);
  }

  &__button {
    color: #212121;
    font-size: 10px;
    font-family: Gravity;
    text-decoration-line: underline;
    margin-bottom: rem(3);
    display: block;
  }

  &__info {
    color: #212121;
    font-size: 8px;
    font-family: Gravity;
    font-weight: 250;
    margin-bottom: rem(3);
    display: block;
  }

  &__grade {
    margin-bottom: rem(6);
    align-items: flex-start;
  }
}
.grade {
}
.description-restaurant {
  &__list {
  }
}
.list-product {
  &__item {
  }
}

//========================================================================================================================================================

.newtop {
  background-color: #fffafa;
  border-radius: 50px 50px 7px 7px;
  border-top: 10px solid #212121;
  padding-bottom: rem(15);

  @media (max-width: $mobile) {
    border-top: 3px solid #212121;
  }
  &__container {
  }

  &__body {
  }

  &__top {
  }

  &__title {
    color: #212121;
    font-size: 26px;
    font-family: Gravity;
    font-weight: 700;
    padding: rem(35) 0 rem(25);
    border-bottom: 1px solid #212121;
    text-align: center;
  }

  &__items {
  }

  &__item {
  }

  &__logo {
  }
}
.item-newtop {
  border-bottom: 1px solid #212121;
  padding: rem(10) 0 rem(6);
  &__body {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    margin-bottom: rem(10);
  }

  &__name {
    color: var(--black, #212121);
    font-size: 14px;
    font-family: Gravity;
    font-weight: 700;
    margin-right: auto;
  }

  &__reviews {
    color: #212121;
    font-size: 10px;
    font-family: Gravity;
  }

  &__grade {
  }

  &__logo {
    border-radius: 33px;
    border: 0.688px solid #212121;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: flex;
    flex-direction: row-reverse;
    column-gap: rem(5);
    color: #212121;
    font-size: 10px;
    font-family: Gravity;
    font-weight: 700;
    text-decoration-line: underline;
  }
}
